:host {
  height: 100%;
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

#navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

h1 {
  padding: 0 1rem;
}

h2 {
  padding: 1rem;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

.mobile-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  position: fixed;
  bottom: 0;
}

mat-sidenav-container {
  height: 100%;

  mat-nav-list {
    font-size: 1rem;
  }
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
  padding-top: 3.5rem;

  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
  }
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content,
#mobile-content {
  padding-top: 56px;
  // padding-left: 1rem;
  // padding-right: 1rem;
  height: calc(100% - 56px - 48px);

  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}

#content {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  max-width: 1024px;
  height: 100%;
}

#add-btn {
  position: absolute;
  bottom: 80px;
  right: 10px;
  z-index: 9999;
}