@if(isMobile) {
<div id="mobile-content">
    <router-outlet></router-outlet>
</div>

@if (currentUser !== null) {

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
    @for (link of links; track link) {
    <!-- @if (link.link === '/story' && currentStoryId === null) {} -->
    <!-- @else { -->
    <a mat-tab-link (click)="activeLink = link" [routerLink]="link.link" [active]="activeLink == link"
        [disabled]="link.link === '/story' && currentStoryId === null">
        <div class="tab-item-content">
            <mat-icon>{{link.icon}}</mat-icon>
            <span>{{link.title}}</span>
        </div>
    </a>
    <!-- } -->
    }
    <!-- <a mat-tab-link disabled>Disabled Link</a> -->
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
}

<!-- <mat-sidenav-container autosize>
    <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
        <mat-nav-list>
            <a mat-list-item (click)="GoHome()">
                <span class="entry">
                    <mat-icon>house</mat-icon>
                    @if(!isCollapsed) {
                    <span>Start</span>
                    }
                </span>
            </a>
            @if(currentUser !== null) {
            <a mat-list-item (click)="GoToInvites()">
                <span class="entry">
                    <mat-icon [matBadge]="numberOfNewInvites > 0 ? numberOfNewInvites : null"
                        matBadgeSize="small">diversity_3</mat-icon>
                    @if(!isCollapsed) {
                    <span>Invites</span>
                    }
                </span>
            </a>
            <a mat-list-item (click)="GoToSettings()">
                <span class="entry">
                    <mat-icon>settings</mat-icon>
                    @if(!isCollapsed) {
                    <span>Settings</span>
                    }
                </span>
            </a>
            <a mat-list-item (click)="Logout()">
                <span class="entry">
                    <mat-icon>logout</mat-icon>
                    @if(!isCollapsed) {
                    <span>Log out</span>
                    }
                </span>
            </a>
            @if (currentUser.isAdmin) {
            <a mat-list-item (click)="GoToAdmin()">
                <span class="entry">
                    <mat-icon>admin_panel_settings</mat-icon>
                    @if(!isCollapsed) {
                    <span>Admin</span>
                    }
                </span>
            </a>
            }
            }
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->

}

<mat-toolbar [class.mobile-toolbar]="isMobile">
    @if (isMobile) {
    <!-- <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button> -->
    @if(currentUser !== null) {
    <h5>{{currentUser.username}}</h5>

    <mat-icon (click)="GoToInvites()" [matBadge]="numberOfNewInvites > 0 ? numberOfNewInvites : null"
        matBadgeSize="small">notifications</mat-icon>
    }
    }

    @if(!isMobile) {

    <a [routerLink]="['/login']">
        <button mat-button aria-label="Home">
            GroupWriter
        </button>
    </a>
    <span class="example-spacer"></span>
    @if (currentUser !== null) {
    <div id="navbar-right">
        <button mat-button aria-label="New story" (click)="CreateStory()">
            <span>New story</span>
            <mat-icon>add</mat-icon>
        </button>
        <button mat-button aria-label="Current" [disabled]="currentStoryId === null" [routerLink]="'/story'">
            <span>Current</span>
            <mat-icon>history_edu</mat-icon>
        </button>
        <button mat-button aria-label="Stories" (click)="GoHome()">
            <span>Stories</span>
            <mat-icon>list</mat-icon>
        </button>
        <button mat-button aria-label="Invites" (click)="GoToInvites()"
            [matBadge]="numberOfNewInvites > 0 ? numberOfNewInvites : null" matBadgeSize="small">
            <span>Invites</span>
            <mat-icon>diversity_3</mat-icon>
        </button>
        <button mat-button aria-label="Settings" (click)="GoToSettings()">
            <span>Settings</span>
            <mat-icon>settings</mat-icon>
        </button>
        <span>{{currentUser.username}}</span>
        @if(currentUser.isAdmin) {
        <button mat-button aria-label="Admin" (click)="GoToAdmin()">
            <span>Admin</span>
            <mat-icon>admin_panel_settings</mat-icon>
        </button>
        }
        <button mat-button aria-label="Logout" (click)="Logout()">
            <span>Log out</span>
            <mat-icon>logout</mat-icon>
        </button>
    </div>
    }
    @else {
    <!-- <button mat-button aria-label="Logout" (click)="Login()">
        <span>Log in</span>
        <mat-icon>login</mat-icon>
    </button> -->
    }
    }
</mat-toolbar>

@if(!isMobile) {
<div id="content">
    <router-outlet></router-outlet>
</div>
}

@if(isMobile && showCreateStoryBtn && currentUser !== null) {
<div id="add-btn">
    <button mat-fab extended color="primary" aria-label="Create story" (click)="CreateStory()">
        Create story
        <mat-icon>add</mat-icon>
    </button>
</div>
}