<div id="list">
    @if (invites.length === 0) {
    <label>No invitations</label>
    }
    @for(invitee of invites; track $index) {
    <div class="invite">
        <div class="invite-left">
            <span>
                <b>{{invitee.storyName}}</b>
            </span>
            <span>
                {{invitee.creatorUsername}}
            </span>
        </div>
        <div class="invite-middle">
            <span>
                {{invitee.invitedDate | date}}
            </span>
        </div>
        <div class="invite-right">
            <mat-icon (click)="AcceptInvite(invitee.inviteeId)">add</mat-icon>
            <!-- <mat-icon (click)="AcceptInvite(invitee.inviteeId)">remove</mat-icon> -->
        </div>
    </div>
    }
</div>