:host {
    #list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        >label {
            align-self: center;
        }
    }

    .invite {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem;
        background-color: rgb(122, 122, 208);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 0.5rem;

        .invite-left {
            display: flex;
            flex-direction: column;
        }

        .invite-right {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            mat-icon {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}