:host {
    height: 100%;

    >div {
        height: 100%;
    }

    #login {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    mat-form-field {
        width: 100%;
    }

    button {
        width: 100%;
    }

}