<!-- <h4>Reset password</h4> -->
<mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email">
</mat-form-field>

@if (!requestEmail) {

<mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="password" />
    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>

<mat-form-field>
    <mat-label>Confirm password</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="confirmPassword" />
    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>
}
<div id="bottom">
    @if (result) {
    <mat-label>{{result}}</mat-label>
    }
    @if (!requestEmail) {
    <button mat-flat-button color="primary" (click)="resetPasswordClicked()"
        [disabled]="email === '' || password === '' || confirmPassword === ''">Reset password</button>
    }
    @else {
    <button mat-flat-button color="primary" (click)="resetPasswordEmailClicked()" [disabled]="email === ''">Request
        password reset email</button>
    }
</div>