:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    #title {
        font-size: larger;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        :nth-child(2) {
            font-size: smaller;
            color: gray;
        }
    }
}

.invitee-chip  {
    background-color: green;
}