@if (currentUser !== null && story) {
<div id="top">
    <div id="title-and-back">
        <mat-icon (click)="BackButtonClicked()">chevron_left</mat-icon>
        <div id="title"><b>{{story.storyName}}</b>
            <div>({{status}})</div>
        </div>
    </div>

    <div id="invitees">
        <label>Players:</label>
        <mat-chip-set aria-label="Invitees">
            <mat-chip-option [selectable]="false" id="creator-chip">👑{{story.creatorUsername}}</mat-chip-option>
            @for (invitee of story.invitees; track invitee) {
            <mat-chip-option [selectable]="false" color="primary">{{invitee}}</mat-chip-option>
            }
        </mat-chip-set>

        <mat-chip-set aria-label="Participants">
            @for (participant of story.participants; track participant) {
            @if(participant !== currentUser.username) {
            <mat-chip-option [selectable]="false" color="primary" selected>{{participant}}</mat-chip-option>
            }
            @else {
            <mat-chip-option [selectable]="false" color="primary" selected>You</mat-chip-option>
            }
            }
            <!-- <mat-chip color="accent">
                    <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
                    Dog three
                </mat-chip> -->
        </mat-chip-set>

    </div>
    <div id="chat">
        @for(lobbyMessage of lobbyMessages; track $index) {
        <div class="lobby-message" [class.current-user-message]="lobbyMessage.userId === currentUser.userId"
            [class.other-user-message]="lobbyMessage.userId !== currentUser.userId">
            <div class="username">{{lobbyMessage.userId === story.creatorUserId ? '👑' : ''}}{{lobbyMessage.username ===
                currentUser.username ? 'You': lobbyMessage.username}}:
            </div>
            <div class="message">{{lobbyMessage.message}}</div>
        </div>
        }
    </div>
</div>


<div id="btns">
    <mat-form-field class="example-form-field">
        <mat-label>Send message</mat-label>
        <input matInput type="text" [(ngModel)]="messageInputValue" (keydown.enter)="SendLobbyMessage()">
        <mat-icon matSuffix (click)="SendLobbyMessage()">send</mat-icon>
    </mat-form-field>

    <!-- <button mat-mini-fab aria-label="Send" color="primary" (click)="SendLobbyMessage()">
    </button> -->
</div>
}