/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    .cdk-overlay-container {
        z-index: 99999999999999;
    }

    margin: 0;
    font-family: Roboto,
    "Helvetica Neue",
    sans-serif;


    mat-form-field {
        width: 100%;
    }

    button {
        // max-width: 200px;

        &:hover {
            cursor: pointer;
        }
    }

    .centered {
        align-self: center;
    }

    .mat-badge-content {
        background-color: rgb(186, 26, 26);
    }

    mat-sidenav-container {
        height: 100%;
    }

    nav {
        z-index: 9999;
        background-color: white;
        width: 100%;
        // height: 68px;

        >.mat-mdc-tab-link-container {

            .mat-mdc-tab-list {

                >.mat-mdc-tab-links {
                    // height: 68px !important;

                    >a {
                        // height: 68px !important;
                    }
                }
            }
        }
    }
}