/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100dvh;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;


    mat-form-field {
        width: 100%;
    }

    button {
        max-width: 200px;

        &:hover {
            cursor: pointer;
        }
    }

    .centered {
        align-self: center;
    }

    .mat-badge-content {
        background-color: rgb(186, 26, 26);
    }

    mat-sidenav-container {
        height: 100%;
    }

    .mat-mdc-tab-body-wrapper {
        height: 100% !important;
    }

    .mat-mdc-tab-body-content {
        overflow: auto !important;
    }


}