<mat-tab-group dynamicHeight (selectedTabChange)="showMyStories = !showMyStories">
    <mat-tab label="Created by me">
        @if(loadingStories) {
        <mat-spinner [diameter]="30"></mat-spinner>
        }
        @else {
        <div id="list">
            <ng-container [ngTemplateOutlet]="ownedStories"></ng-container>
        </div>
        }
    </mat-tab>
    <mat-tab label="Stories I've joined">
        @if(loadingStories) {
        <mat-spinner [diameter]="30"></mat-spinner>
        }
        @else {
        <div id="list">
            <ng-container [ngTemplateOutlet]="participantStoriesList"></ng-container>
        </div>
        }
    </mat-tab>
</mat-tab-group>

<ng-template #participantStoriesList>
    <mat-list role="list">
        @if (participantStories.length === 0) {
        No stories
        }
        @for(story of participantStories; track $index) {
        <div (click)="StoryClicked(story)">

            <mat-list-item class="participant-story story">
                <span matListItemTitle>{{story.storyName}}</span>
                <span matListItemLine>{{story.creatorUsername}}</span>
                <span matListItemMeta>{{story.created | date}}</span>
            </mat-list-item>
        </div>
        }
    </mat-list>
    <!-- <div id="list-content">
        @if (participantStories.length === 0) {
        <div id="empty">
            No stories
        </div>
        }
        @for(story of participantStories; track $index) {
        <div class="participant-story story" (click)="StoryClicked(story)">
            <div class="story-left">
                <span>
                    {{story.storyName}}
                </span>
            </div>
            <div class="story-right">
                <span>
                    {{story.created| date}}
                </span>
                <mat-icon>arrow_forward_ios</mat-icon>
            </div>
        </div>
        }
    </div> -->
</ng-template>

<ng-template #ownedStories>
    <mat-list role="list">
        @if (stories.length === 0) {
        No stories
        }
        @for(story of stories; track $index) {
        <div (click)="StoryClicked(story)">
            <mat-list-item>
                <span matListItemTitle>{{story.storyName}}</span>
                <span matListItemMeta>{{story.created | date}}</span>
            </mat-list-item>
        </div>
        }
    </mat-list>

    <!-- <div id=" list-content">
            @if (stories.length === 0) {
            <div id="empty">
                No stories
            </div>
            }
            @for(story of stories; track $index) {
            <div class="story" (click)="StoryClicked(story)">
                <div class="story-left">
                    <span>
                        {{story.storyName}}
                    </span>

                </div>
                <div class="story-right">
                    <span>
                        {{story.created| date}}
                    </span>
                    <mat-icon>arrow_forward_ios</mat-icon>
                </div>
            </div>
            }
        </div> -->
</ng-template>