:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    #spinner {
        margin-right: 0.5rem;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;

        #username {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            mat-form-field {
                width: 100%;
            }
        }

        #push {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            >div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }
}